<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="frame">
      <img class="close-circle" src="img/close-circle.svg" />
      <div class="div">
        <img class="success-kite" src="img/success-kite-1.png" />
        <p class="your-video-link-has">
          <span class="text-wrapper">Your video link has been sent to </span>
          <span class="span">johnmark@gmail.com</span>
        </p>
      </div>
    </div>
    <div class="frame">
        <div class="div">
          <p class="text-wrapper">Would you need to view this video later? Save to your account now!</p>
          <div class="frame-wrapper">
            <div class="div-wrapper">
              <div class="div-wrapper-2"><div class="text-wrapper-2">Save Video</div></div>
            </div>
          </div>
        </div>
        <p class="don-t-have-an">
          <span class="span">Don’t have an account?</span>
          <span class="text-wrapper-3">&nbsp;</span>
          <span class="text-wrapper-4">Create account</span>
        </p>
    </div>
  </body>
</html>