<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../css/styleguide.css" />
    <link rel="stylesheet" href="../css/video.css" />
  </head>
  <body>
    <div class="video-repository">
      <div class="nav">
        <div class="logo">
          <div class="frame-3">
            <img class="img-2" src="../images/favicon-32x32.png" />
            <div class="text-wrapper-2">HelpMeOut</div>
          </div>
        </div>
        <div class="frame-3">
          <img class="img-2" src="../images/profile.svg" />
          <div class="text-wrapper-3">John Mark</div>
          <img class="img-3" src="../images/arrow-down.svg" />
        </div>
      </div>
      <div class="top-content">
        <div class="salutation">
          <div class="text-wrapper-4">Hello, John Mark</div>
          <p class="p">Here are your recorded videos</p>
        </div>
        <div class="search-bar">
          <div class="inputfield">
            <img class="img" src="../images/search.svg" />
            <p class="text-wrapper-5">Search for a particular video</p>
          </div>
        </div>
      </div>
      <div class="recent-videos">
        <div class="timeline">Recent files</div>
        <div class="videos">
          <div class="WEB-CARD">
            <div class="video-frame">
              <div class="video-duration"  onclick="redirectToSinglePage()"><div class="text-wrapper-6">00:34</div></div>
            </div>
            <div class="details">
              <div class="title-date">
                <p class="title-2">How To Create Facebook Ad Listing</p>
                <div class="date">SEPTEMBER 23, 2023</div>
              </div>
              <div class="icons"><img class="img-3" src="../images/link.svg" /> <img class="img-3" src="../images/more.svg" /></div>
            </div>
          </div>
          <div class="WEB-CARD">
            <div class="video-duration-wrapper">
              <div class="video-duration"><div class="text-wrapper-6">00:34</div></div>
            </div>
            <div class="details">
              <div class="title-date">
                <p class="title-2">How To Create Facebook Ad Listing</p>
                <div class="date">SEPTEMBER 23, 2023</div>
              </div>
              <div class="icons"><img class="img-3" src="../images/link.svg" /> <img class="img-3" src="../images/more.svg" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="recent-videos-2">
        <div class="timeline">Files from last week</div>
        <div class="videos">
          <div class="WEB-CARD">
            <div class="div-wrapper">
              <div class="video-duration"><div class="text-wrapper-6">00:34</div></div>
            </div>
            <div class="details">
              <div class="title-date" onclick="redirectToSinglePage()">
                <p class="title-2">How To Create Facebook Ad Listing</p>
                <div class="date">SEPTEMBER 23, 2023</div>
              </div>
              <div class="icons">
                <img class="link" src="img/link-2.png" /> <img class="more" src="img/more-2.png" />
              </div>
            </div>
          </div>
          <div class="WEB-CARD">
            <div class="video-frame-2">
              <div class="video-duration"><div class="text-wrapper-6">00:34</div></div>
            </div>
            <div class="details" onclick="redirectToSinglePage()">
              <div class="title-date">
                <p class="title-2">How To Create Facebook Ad Listing</p>
                <div class="date">SEPTEMBER 23, 2023</div>
              </div>
              <div class="icons">
                <img class="link-2" src="img/link.png" /> <img class="more-2" src="img/more.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroller">
        <div class="overlap-group">
          <div class="whole-length"></div>
          <div class="current-level"></div>
        </div>
      </div>
      <img class="line" src="img/line-25.svg" />
    </div>
  </body>

  <script>
      function redirectToSinglePage() {
      window.location.href = "single-video.html";
      }
  </script>
</html>